*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}

header{
    padding-top: 26px;
    padding-bottom: 18px;
}
header .container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding-right: 40px;
}
nav ul li a{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #292F36;
}
.intro__section{
    background-image: url(../img/intro.bg.jpg);
    background-size: cover;
    height: 100vh;
}
.intro__content{
    padding-top: 195px;
    padding-bottom: 205px;
}
.intro__content h1{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.22px;
    padding-bottom: 19px;
}
.intro__content p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    padding-bottom: 35px;
}
.intro__content a{
    padding: 22px 34px;
    background-color: #292F36;
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}
.text__content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.inner__text{
    display: flex;
    justify-content: space-between;
}
.inner__text h3{
    padding-top: 75px;
    padding-bottom: 17px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.22px;
    color: #292F36;
    text-align: center;
}
.inner__text p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;

}

.first__text p{
    margin-right: 41px;
    margin-left: 42px;
    padding-bottom: 48px;
}
.second__text p{
    margin-right: 51px;
    margin-left: 52px;
    padding-bottom: 30px;
}
.thierd__text p{
    margin-left: 52px;
    margin-right: 52px;
    padding-bottom: 30px;
}



.inner__text a{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #4D5053;
}
.first__text a{
    position: relative;
    left: 170px;
}
.second__text a{
    position: relative;
    left: 170px;
}

.thierd__text a{
    position: relative;
    left: 125px;
}

.info__section{
    padding-bottom: 140px;
}
.info__section .container{
    display: flex;
}
.info__content h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-top: 40px;
    padding-bottom: 42px;
}
.info__content p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-right: 61px;
    padding-bottom: 30px;
}
.rec__img{
    padding-bottom: 50px;
}
.rec__imgs {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.22px;
    color: #4D5053;
    position: relative;
    left: 20px; 
    bottom: 20px;
}
.info__btn{
    padding: 22px 34px;
    background-color: #292F36;
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}


.about__us{
    padding-bottom: 140px;
}
.about__us .container{
    background-color: #F4F0EC;
    border-radius: 70px;
    min-height: 675px;
}
.about__us .container h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-top: 103px;
    padding-bottom: 103px;
    text-align: center;
}
.cl__people{
    display: flex;
    justify-content: space-between;
}
.ineer__cl{
    margin-left: 35px;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 30px;
    min-height: 287px;
}

.ineer__cl__info{
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 30px;
    padding-bottom: 30px;
}
.cl_name{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    left: 20px;
    bottom: 20px;
}
.ineer__cl p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-left: 35px;
    margin-right: 50px;
}

.sponsors ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}


.progect__cont{
    padding-bottom: 141px;
}
.ineer__title{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-bottom: 20px;
}
.progect__cont p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
    padding-bottom: 70px;
}
.first__cont{
    display: flex;
    justify-content: space-between;
}
.first__cont h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
    
}
.first__cont h3::after{
    content: "";
    background-image: url(../img/cont.er.svg);
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    top: 50px;
    left: 230px;
}
.first__cont h4{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    padding-bottom: 61px;
}
.second__cont{
    display: flex;
    justify-content: space-between;
}
.second__cont h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.second__cont h3::after{
    content: "";
    background-image: url(../img/cont.er.svg);
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    top: 50px;
    left: 230px;
}
.second__cont h4{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.stats__section{
    background: #F4F0EC;
    padding-bottom: 140px;
}
.number__cont{
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
}
.number__cont h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;
}
.number__cont h4{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.blogs__section{
    padding-bottom: 100px;
}
.blogs__section h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-top: 143px;
    padding-bottom: 21px;
}
.blogs__section p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.title__contact{
    background: #292F36;
    border-radius: 70px;
    min-height: 414px;
    display: flex;
}
.title__contact h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 9px;
}
.title__contact p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.title__contact a{
    padding: 23px 34px;
    background-color: #CDA274;
    box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    align-items: center;
    position: relative;
    left: 170px;
}

.footer__content{
    padding-top: 129px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
}
.footer__content h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-bottom: 22px;
}
.footer__content a{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.footer__content li{
    padding-bottom: 30px;
}
.social__media{
    display: flex;
    align-items: center;
}
.footer__first p{
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.social__media li{
    padding-right: 40px;
}
.contact__info p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    padding-bottom: 30px;
}